/* ================================================= 
   Main Styles
==================================================== */
* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: lightgray;
}

/* ==== Layout Container Styles ==== */


header {
   padding: 1em 0; 
}
.name,
.main-nav a {
	text-align: center;
	display: block;
    padding: 1em;
}
main {
    background-color: ivory;
    padding: 20px;
}

.portfolio {
    max-width: 30%;
    text-align: center;
    padding: 1em;
}

/* ==== Base Element Styles ==== */

a {
    color: #A62D13;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}
a:hover {
    color: #CAB044;
}

ul {
    display: block;
    list-style: none;
    margin: 0 auto;
}

ul li {
    background: ghostwhite;
    width: 90%;
    max-width: 250px;
    margin: 5px;
}

header img {
    width: 100%;
    max-width: 300px;
}
.banner {
    padding: 2em 0;
    margin: 0 auto;
}
.banner p {
    padding: 2em;
}
.image-tile {
    width: 100%;
    max-width: 400px;
    height: auto;
}

h2 {
    text-align: center;
}
.contact,
.skills {
    width: 100%;
    max-width: 600px;
}
footer {
    font-size: .75rem;
    display: inline-block;
}

/* ================================================= 
   Flexbox Styles
==================================================== */


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ================================================= 
   Media Queries
==================================================== */

@media (min-width: 769px){
    .main-header,
    .main-nav {
      display: flex;
  }
    .main-header {
      width: 90%;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
  }
  
  ul {
    display: block;
    list-style: none;
  }

  .banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

    #return {
        display: none;
    }
}
@media (min-width: 1025px) {
    .main-header {
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-between;
    }
    .banner {
        max-width: 1200px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }
    ul {
        list-style: none;
    }
}



