/* ================================================= 
   Main Styles
==================================================== */
* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* ==== Layout Container Styles ==== */

body {
    font-family: 'Roboto', sans-serif; 
    background-color: lightgray;
}

.wrapper {
    padding: 20px;
}

header {
   padding: 1em 0; 
}

.main-nav {

}
main {
    background-color: ivory;
    padding: 20px;
}

.portfolio {
    max-width: 30%;
    text-align: center;
    padding: 1em;
}

/* ==== Base Element Styles ==== */



a {
    color: #A62D13;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #CAB044;
}

.image-tile {
    width: 100%;
    max-width: 300px;
    height: auto;
}

h2 {
    text-align: center;
}
.contact,
.skills {
    width: 100%;
    max-width: 600px;
}
footer {
    font-size: .75rem;
    display: inline-block;
}

/* ================================================= 
   Flexbox Styles
==================================================== */

.main-nav {

}

.container {
    display: flex;
    flex-wrap: wrap;}


/* ================================================= 
   Media Queries
==================================================== */

@media (min-width: 769px){
    
    .wrapper {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
    }

    #return {
        display: none;
    }
}
@media (min-width: 1024px) {
  


}



